.welcome-section {
    position: relative;
    z-index: 1;
    padding: 50px 20px; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }
  
.welcome-message {
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin-bottom: 45px;
}
  
.welcome-message h2 {
    font-size: 2.5rem;
    margin: 15px 0px;
}
  
.welcome-message h3 {
    font-size: 2rem; 
    margin-bottom: 15px;
}
  
.welcome-message p {
    font-size: 1.1rem;
    margin-bottom: 15px;

}
  
.home-page {
    flex-grow: 1;
    padding-left: 20px;
    width: 100%;

}
  
.home-page h1 {
    font-size: 2rem;
    margin-bottom: 15px;
}
  
.no-articles {
    font-size: 1.2rem;
    color: #888;
    text-align: center;
}

.treasure-hunts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}