.main {
  position: relative;
  margin-top: 120px;
}

.error {
  border: 2px solid red;
}

.field-error {
  color: red;
  font-size: 24px;
  margin-top: 5px;
  display: block;
  text-align: center;
}
