body {
    background-image: url('https://img.freepik.com/free-photo/wooden-background-with-nautical-decor_93675-129577.jpg');
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

header {
    background-color: #5e5048;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    position: fixed;
    margin: 5px 10px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

h1 {
    margin: 0;
}

h1 a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    align-items: center;
}

nav span {
    margin-right: 10px;
}

nav a {
    margin-right: 15px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    cursor: pointer;
    color: rgb(139, 121, 82);
}

.home:hover {
    color: rgb(139, 121, 82);
}

.user-section {
    display: flex;
    align-items: center;
}

.user-section a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
}