.treasure-hunt {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 30px 0px;
    transition: transform 0.3s ease-in-out;
    flex: 0 1 20%;
    position: relative;
}
  
.treasure-hunt:hover {
    transform: translateY(-5px);
}
  
.image-wrap {
    width: 100%;
    max-height: 200px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.image-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
  
h3 {
    margin: 0;
    font-size: 1.2em;
    color: #fff;
}
  
.rating {
    margin-bottom: 10px;
    font-size: 1.5em;
}
  
.rating span {
    cursor: pointer;
    font-size: 40px;
}

.rating span:before {
    content: "\2605";
    position: absolute;
}
  

.filled-star {
    color: gold;
}

.empty-star {
    color: black;
}
.need-login {
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 65px;
    right: 10px;
    left: 10px;
    width: auto;
}

.details-btn {
    background-color: #9c9577;
    font-size: 1.1rem;
    padding: 10px;
    margin-top: 10px;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 800;
}

.data-buttons {
    font-size: 1.1rem;
    padding: 10px;
    text-align: center;
}

.details-btn:hover {
    background-color: #b9b68f;
}
