

.catalog-page {
    flex-grow: 1;
    padding-left: 20px;
}
  
.catalog-page h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
}

.treasure-hunts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}